body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fbfbfb;
}


h1{
    color:grey;
    font-family: verdana;
}

.container {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

form {
    font-weight: 550;
}

#result {
    font-weight: 400;
}